body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #a04568;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #a09445;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
li.completed {
  color: #888;
}

li.completed span {
  text-decoration: underline;
}

li span {
  cursor: pointer;
  margin-right: 10px;
}

li button {
  margin-left: 10px;
}

label {
  margin-left: 10px;
}

label input[type="checkbox"] {
  margin-right: 5px;
}



 .card {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  padding: 10px;
  margin-left: 900px;
  top:0;
  right:0;
 
  display: flex;
  border-top: -100px;
  flex-direction: column;
  justify-content: space-between;

} 

.status-indicator {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: blue;
  right:0
}
.status {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
}
